body {
    margin: 0; padding: 0;
}
#aiqus_content {
    width: 100%;
    display: block;
    overflow: hidden;
}
#aiqus_content #listA {
    font-size: 70%;
}
#aiqus_content .short-summary {
    width: 670px;
}
#aiqus_content .short-summary .question-summary-wrapper {
    float: left;
    width: 490px;
    overflow: hidden;
}
#aiqus_content .short-summary h2 {
    padding: 2px 0 1px 0;
}
#aiqus_content .short-summary h2 a {
    font-size: 15px;
}
#aiqus_content .short-summary .votes, #aiqus_content .short-summary .status, #aiqus_content .short-summary .views {
    font-size: 10px;
    height: 36px;
    width: 40px;
}
#aiqus_content .short-summary .counts .item-count {
    font-size: 15px;
}
#aiqus_content #loader {
    white-space: nowrap;
    margin: 10px;
}
